@model RegistrationModel

@{ 
    ViewData["Title"] = "Registration"; 
} 
<head>
    <style>
		.input-validation-error {
			background-color:#FFB6C1;
		}
	</style>

</head>

    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                            <form asp-controller="Avtosalon" asp-action="Register" class="mx-1 mx-md-4" method="post">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" asp-for="Login"></label>
                                        <input asp-for="Login" class="form-control" />
                                        <span asp-validation-for="Login"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" asp-for="Password"></label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" asp-for="Password2"></label>
                                        <input asp-for="Password2" class="form-control" />
                                        <span asp-validation-for="Password2"></span>
                                        </div>
                                    </div>

                                <div class="form-check d-flex justify-content-center mb-5">
                                    <p>
                                        <input name="Accept" type="checkbox"
                                               class="form-check-input" value="true" />
                                        <label asp-for="Accept"></label>
                                        <span asp-validation-for="Accept"></span>

                                    </p>
                                </div>


                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button type="submit">Register</button>
                                        @*<a asp-action="Register" type="button" class="btn btn-primary btn-lg">Register</a>*@
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="/Images//лейбл.png"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
